.contaireDisciplines {
    height: 100vh;
}

.titreDisciplines {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerGrid {
    height: 80%;
    width: 100%;
    display: flex;
}

.grid {
    width: 33.3%;
    height: 100%;
}

.titreGrid {
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerGridCircle {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridCircle {
    border: 1px solid;
    height: 60%;
    width: 65%;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

.gridCircle img {
    height: 100%;
    width: 100%;
}

.gridCircle:hover img {
    opacity: 0;
    z-index: -10;
display: none;
    transition: 0.3s;
}
.gridCircle:hover .styleDesPla {
  display: flex;
  }
.description {
    width: 50%;
}

.description:hover {
    width: 100%;
    border-right: 1px solid black;
}

.planing {
    width: 50%;
}

.planing:hover {
    width: 100%;
    border-left: 1px solid black;
}


.styleDesPla {
    display: none;
    justify-content: center;
    background-color: #0097A7;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
    font-size: 24px;
    transition: 0.4s;
}

.planing:hover+.description {
    width: 10%;
}

.imageDisipline {
    height: 100%;
    width: 100%;
}

.imageDisipline img {
    height: 100%;
    width: 100%;
}

.contPlaDes {
    display: flex;
    height: 50%;
}

.planingConte {
    width: 50%;
    align-items: center;
    display: flex;
    color: white;
    font-size: 24px;
    background-color: #0097A7;
    justify-content: flex-end;
    padding-right: 20px;
}

.descriptionConte {
    width: 50%;
    align-items: center;
    display: flex;
    color: white;
    font-size: 24px;
    background-color: #0097A7;
    justify-content: flex-end;
    padding-right: 20px;
}
