* {
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;
    text-align: center;
    margin: 1em;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.28);

}

.section {
    width: 1290px;
    height: 590px;
}

.logo {
    display: flex;
    justify-content: space-between;;
    padding: 16px 40px;
    width: 90%;
    height: 90%;
}

.logo1 {
  width: 220px;
  height: 170px;
}

.logo2 {
    align-self: flex-end;
    width: 230px;
    height: 160px;
}
.logo3{
  width: 360px;
  height: 150px;
}

.logo4 {
    align-self: flex-end;
    width: 210px;
    height: 190px;
}

.logo5 {
  width: 180px;
  height: 170px;
}

.logo6 {
  align-self:flex-end;

}

.img1 {
    width: 220px;
    height: 170px;
}

.img2 {
    width: 230px;
    height: 160px;
}

.img3 {
  width: 360px;
  height: 150px;
}

.img4 {
    width: 210px;
    height: 190px;
}

.img5 {
    width: 180px;
    height: 170px;
}
.img6 {

  width: 280px;
  height: 270px;

}

.logo {
    /*-webkit-animation: jump 1.5s ease 0s infinite normal;*/
    animation: jump 6s ease 0s normal;
}

/*.logo:hover {
    animation: elastic 6s linear 0s 1 normal;
}*/
