*{
	margin:0;
}
.header{
	position:absolute;
	width:100%;
	height:12vh;
	background-color:white;
	opacity:0.5;
}
.wrapHead{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.logo img{
	width:162px;
	height:162px;
}
.navpart1 ul{
	width:100%;
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	border:2px solid black;
}
.navpart2 ul{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	list-style:none;
	border:2px solid black;
}

.navpart1 ul a{
	display:inline-block;
	text-decoration:none;
	
}
.navpart1 ul li{
	position:relative;
	margin:20px;
}
.navpart2 ul li{
	position:relative;
	margin:20px;
}
.navpart1 ul li:hover{
	background:#FFFFFF;
}
.navpart1 ul ul{
	display:none;
	position:absolute;
	padding:10px 10px 10px 0;
	width:150px;
}
.navpart1 ul ul li{
		margin-left:10px;

}
.navpart1 ul li:hover > ul{
	display:block;
}
