*{
	margin:0;
}

.header{
	position:absolute;
	width:100%;
	height:9vh;
	background-color:white;
	opacity:0.5;
}

.wrapHead{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.logo img{
	width:162px;
	height:162px;
}
.navpart1 ul{
	width:100%;
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.navpart2 ul{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	list-style:none;
}

.navpart1 ul a, .navpart2 ul a{
	text-decoration:none;
}

.navpart1 ul li{
	position:relative;
	margin:20px;
}

.navpart2 ul li{
	position:relative;
	margin:20px;
}

.navpart1 ul ul{
	display:none;
	position:absolute;
/*	padding:10px 10px 10px 0;
*/	width:150px;
	border:2px solid green;

}

.navpart1 ul ul li{
	margin-left:10px;

}
.navpart1 ul li:hover > ul{
	display:block;
	display:flex;
	flex-direction:column;
}

a{
	transition:0.15s;
	text-decoration: none;
	color:black;
}
a:hover{
	color:#CB960F;
}

