ul li img{
	width:100%;
	height:110vh;
    max-width:100%;
}

*{
	padding:0;
	margin:0;
}/* ou faire un Reset.css*/

.wrapCar{
	overflow:hidden;
}

.navcontent{
	width:400%;
	height:100vh;
}

ul{
	display:flex;
	list-style:none;
	width:100%;
	transition:all 1s ease-in-out;
}

.picbox{
	width:400%;
}
.prev img{
	margin-top: 50vh;
	position:absolute;
	border:2px solid red;
	width:50px;
	height:50px;
	transform: rotate(180deg);
}
.next img{
	margin-top: 50vh;
	margin-left:100vw;
	position:absolute;
	border:2px solid red;
	width:50px;
	height:50px;
}
.contact {
	width:100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 100px;
	position: fixed;
}
.ok{
	background-color:white;
	width:50px;
	height:40px;
	outline: none;
	border:3px solid #0097A7;
	border-radius:10px;
}